version: '3.8'

services:
  front:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: codingquest-front
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    external: true
