@import "tailwindcss";
:root {
  --primary-color: #ffffff;
  --second-color: #24c97b;
  --button-primary-color: #6c62ff;
  --button-second-color: #4a3df9;
}

/* Colors */
.primaryColor {
  color: #ffffff;
}

.secondColor {
  color: #24c97b;
}

.buttonPrimaryColor {
  color: #3f34d4;
}

.buttonSecondColor {
  color: #4a3df9;
}
/* ------- */

/* Fonts */
.revalia {
  font-family: "Revalia", sans-serif;
}
/* ------- */

/* Buttons */
.buttonsBackground {
  border-radius: 10px;
  background-color: var(--button-primary-color);
  box-shadow: 0px 5px 0px 0px var(--button-second-color);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
/* ------- */
/* Sliders */
.sliderItem {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 12px;
  font-size: 14px;
  padding: 7px 20px;
  border-radius: 100px;
  border: solid 3px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: #35343a;
}
/* ------- */
