@import "tailwindcss";
:root {
  --primary-color: #ffffff;
  --second-color: #24c97b;
  --button-primary-color: #6c62ff;
  --button-second-color: #4a3df9;
}

/* Colors */
.primaryColor {
  color: #ffffff;
}

.secondColor {
  color: #24c97b;
}

.buttonPrimaryColor {
  color: #3f34d4;
}

.buttonSecondColor {
  color: #4a3df9;
}
/* ------- */

/* Fonts */
.revalia {
  font-family: "Revalia", sans-serif;
}
/* ------- */

/* Buttons */
.buttonsBackground {
  border-radius: 10px;
  background-color: var(--button-primary-color);
  box-shadow: 0px 5px 0px 0px var(--button-second-color);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
/* ------- */
/* Sliders */
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 12px;
  font-size: 14px;
  width: 170px;
  height: 45px;
  border-radius: 100px;
  border: solid 3px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: #35343a;
}

.sliderShadow {
  width: 100%;

  &::after,
  &::before {
    background: linear-gradient(
      to right,
      rgba(50, 45, 75, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    content: "";
    height: 100%;
    position: relative;
    display: block;
    width: 30%;
    z-index: 2;
  }

  &::after {
    left: 0;
    top: -100%;
  }
  &::before {
    left: 70%;
    top: 100%;
    transform: rotateZ(180deg);
  }
}
/* ------- */

/* Animations */
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 6));
  }
}

.sliderAnimation {
  animation: slider 30s linear infinite;
}
