@import "tailwindcss";
:root {
  --primary-color: #ffffff;
  --second-color: #24c97b;
  --button-primary-color: #6c62ff;
  --button-second-color: #4a3df9;
}

/* Colors */
.primaryColor {
  color: #ffffff;
}

.secondColor {
  color: #24c97b;
}

.thirdColor {
  color: #864bc0;
}

.backgroundColor {
  background-color: #393a41;
}

.backgroundComponents {
  background-color: #232429;
}

.backgroundComponents2 {
  background-color: #2d2e34;
}

.buttonPrimaryColor {
  color: #3f34d4;
}

.buttonSecondColor {
  color: #4a3df9;
}
/* ------- */

/* Fonts */
.revalia {
  font-family: "Revalia", sans-serif;
}

.rocky {
  font-family: "RocknRoll One", sans-serif;
}
/* ------- */

/* Buttons */
.buttonsBackground {
  border-radius: 10px;
  background-color: var(--button-primary-color);
  box-shadow: 0px 5px 0px 0px var(--button-second-color);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.sideBarHover {
  box-shadow: 10px 0px 5px 0px rgba(27, 27, 27, 0.75);
  transition: 0.2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  &:hover {
    width: 300px;
    align-items: start;
    padding-left: 2.5%;

    & .titleHover {
      cursor: pointer;
      &::after {
        content: "Coding Quest";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
        font-family: "Comfortaa", sans-serif;
        font-size: 1.2rem;
      }
    }

    & .calendarHover {
      cursor: pointer;
      &::after {
        content: "Desafio Diário";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
      }
    }
    & .mapHover {
      cursor: pointer;
      &::after {
        content: "Modo Campanha";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
      }
    }
    & .leaderHover {
      cursor: pointer;
      &::after {
        content: "Ranking";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
      }
    }
    & .helpHover {
      cursor: pointer;
      &::after {
        content: "Ajuda";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
      }
    }
    & .settingsHover {
      cursor: pointer;
      &::after {
        content: "Configurações";
        color: var(--primary-color);
        font-weight: 600;
        display: block;
        position: absolute;
        left: 120%;
        width: max-content;
      }
    }
  }
}

.profileShadow {
  box-shadow: 12px 12px 10px 0px rgba(27, 27, 27, 0.5);
}

.levelBar {
  ::after {
    content: "";
    width: 50%;
    height: 4px;
    background-color: var(--second-color);
    position: absolute;
    top: -1px;
  }
}

.purpleBar {
  &::before {
    content: "";
    width: 1.5%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #864bc0;
    border-radius: 8px 0 0 8px;
  }
}

.inputForms {
  & input {
    width: 850px;
    height: 250px;
    color: var(--primary-color);
    background-color: #434249;
    border: 1px solid #454448;
  }
}
