@import "tailwindcss";
:root {
  --primary-color: #ffffff;
  --second-color: #24c97b;
  --button-primary-color: #6c62ff;
  --button-second-color: #4a3df9;
}

/* Colors */
.primaryColor {
  color: #ffffff;
}

.secondColor {
  color: #24c97b;
}

.buttonPrimaryColor {
  color: #3f34d4;
}

.buttonSecondColor {
  color: #4a3df9;
}
/* ------- */

/* Fonts */
.revalia {
  font-family: "Revalia", sans-serif;
}
/* ------- */

/* Buttons */
.buttonsBackground {
  border-radius: 10px;
  background-color: var(--button-primary-color);
  box-shadow: 0px 5px 0px 0px var(--button-second-color);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
/* ------- */
/* Slider */
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 12px;
  font-size: 14px;
  width: 170px;
  height: 45px;
  border-radius: 100px;
  border: solid 3px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: #35343a;
}

.sliderShadow {
  width: 100%;
  &::after,
  &::before {
    background: linear-gradient(
      90deg,
      rgb(50, 45, 75, 1) 25%,
      rgb(255, 255, 255, 0) 85%
    );
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 100;
  }

  &::after {
    transform: rotateZ(180deg);
    right: 0;
  }
}
/* ------- */

.cardApresentation {
  background-color: #433b67;
  border: var(--second-color) solid 2px;
  border-radius: 20px;
  padding: 10% 0;
  height: 100%;
}

/* Animations */
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 6));
  }
}

.sliderAnimation {
  animation: slider 40s linear infinite;
}
