@import "tailwindcss";

.levelTrace {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #864bc0;
  }
}

.sideLine {
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: -25px;
    width: 3px;
    height: 100%;
    background-color: #864bc0;
  }
}

.hoverLevel {
  &:hover {
    background-color: #3d3f45;
  }
}

.formInput {
  width: 100%;
  width: 800px; /* Largura máxima */
  height: 200px; /* Altura fixa */
  resize: none; /* Impede o redimensionamento manual */
  overflow-y: auto; /* Scroll vertical automático */
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.4;
}
